@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-supreme);
}

body {
  font-family: var(--font-supreme), sans-serif;
}

.hero-section-img {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("../public/hero-pic.png");

  background-position-y: -15vh;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 700px) {
  .herosectionparent {
    margin: 50px 0px 50px 0px !important;
  }

  .hero-section-img {
    min-height: 50vh;
  background-position-y: 0vh !important;
  }
  .scrolltoseemore{
    padding-right: 18px !important;
  }
}